<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" >
    <title>Elite News </title>
    
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/np-admin-style.css">
    <link rel="stylesheet" href="/assets/css/np-customizer-style.css">
    <link rel="stylesheet" href="/assets/css/np-responsive.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/style1.css">
    <link rel="stylesheet" href="/assets/library/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/library/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/library/lightslider/css/lightslider.css">
    <link rel="stylesheet" href="/assets/library/lightslider/css/lightslider.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" > 
       
</head>
<body class="home boxed_layout">
    <div id="page" class="site">
        <div class="np-top-header-wrap">
            <div class="mt-container">
                <div class="np-top-left-section-wrapper">
                    <div class="date-section">Thursday, April 04, 2019</div>
                    <nav id="top-navigation" class="top-navigation" role="navigation">
                        <div class="menu-top-menu-container">
                            <ul id="top-menu" class="menu">
                                <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18">
                                    <a href="#">About</a>
                                </li>
                                <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
                                    <a href="">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </nav><!-- #site-navigation -->
                </div><!-- .np-top-left-section-wrapper -->
                <div class="np-top-right-section-wrapper">
                </div><!-- .np-top-right-section-wrapper -->
            </div><!-- .mt-container -->
        </div><!-- .np-top-header-wrap -->
            <header id="masthead" class="site-header" role="banner">
                    <div class="np-logo-section-wrapper">
                        <div class="mt-container">
                            <div class="site-branding">
                                <h1 class="site-title">
                                    <a href="/index/" rel="home">Elite News</a></h1>
                            </div><!-- .site-branding -->
                            <div class="np-header-ads-area">
                                <section id="news_portal_ads_banner-2" class="widget news_portal_ads_banner">
                                    <div class="np-ads-wrapper">
                                    <a href="/index/" target="_blank" rel="home">
                                    <img width="200px" src="/assets/images/logo.jpg " /></a>
                                    </div><!-- .np-ads-wrapper -->
                                </section>
                            </div><!-- .np-header-ads-area -->
                        </div><!-- .mt-container -->
                    </div><!-- .np-logo-section-wrapper -->
                    <div id="np-menu-wrap" class="np-header-menu-wrapper">
                            <div class="np-header-menu-block-wrap">
                                <div class="mt-container">
                                    <div class="np-home-icon">
                                        <a href="/index/" rel="home"><i class="fa fa-home"> </i> </a>
                                    </div><!-- .np-home-icon -->
                                        <a href="javascript:void(0)" class="menu-toggle hide"> <i class="fa fa-navicon"> </i>
                                        </a>
                                    <nav id="site-navigation" class="main-navigation " role="navigation">
                                        <div class="menu-primary-menu-container ">
                                            <ul id="primary-menu" class="menu">
                                                <li id="menu-item-48" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-48">
                                                    <a href="/world/">World</a></li>
                                                <li id="menu-item-49" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-49">
                                                    <a href="/sports/">Sports</a></li>
                                                <li id="menu-item-52" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-52">
                                                    <a href="/ent/">Entertainment</a></li>
                                                <li id="menu-item-51" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-51">
                                                    <a href="/tech/">Technology</a></li>
                                                <li id="menu-item-172" class="menu-item menu-item-type-taxonomy menu-item-object-catagory menu-item-172">
                                                    <a href="/busi/">Business</a></li>
                                                <li id="menu-item-198" class="menu-item menu-item-type-taxonomy menu-item-object-catagory menu-item-198" >
                                                    <a href="/life/">Lifestyle</a></li>
                                            </ul>
                                            <form class="form-inline">
                                                <button class="btn btn-outline-success my-2 my-sm-0" style="background-color: #f2f2f2" type="submit"><a href="/login/">Login</a></button>
                                                <button class="btn btn-outline-success my-2 my-sm-0" style="background-color: #f2f2f2" type="submit"><a href="/reg/">Register</a></button>
                                            </form>
                                        </div>
                                    </nav><!-- #site-navigation -->
                                </div><!--.mt-container-->
                            </div>
                        </div><!-- .np-header-menu-wrapper -->
            </header><!-- .site-header -->
            <br>
            <div class="container">
                <div class="row">
                    <div class="myform form ">
                            <div class="logo mb-3">
                                    <div class="col-md-12">
                                    <h2>Register</h2>
                                    </div>
                            </div>
                        <h5>Please fill in this form to create an account!</h5>
                        <form class="container">
                                <div>
                                    <label>First Name</label>
                                    <input type="text" class="form-control" name="first_name" placeholder="First Name" required="required">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required">
                                </div>
                                <div class="form-group">
                                    <label>Mobile Number</label>
                                    <input type="text" class="form-control" name="mob.no." placeholder="Mobile Number" required="required">
                                </div>
                                <div class="form-group">
                                    <label>Date of birth</label>
                                    <input type="date" class="form-control" name="dob" placeholder="D.O.B" required="required">
                                </div>
                                <div class="form-group">
                                    <label>Gender :</label>
                                    <input type="radio" name="gender" value="Male">Male
                                    <input type="radio"  name="gender" value="Female">Female
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                                </div>
                                <div class="form-group">
                                    <label>confirm Password</label>
                                    <input type="password" class="form-control" name="conf_password" placeholder="Confirm Password" required="required">
                                </div><br>
                                <div class="form-group">
                                    <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a>&amp; <a href="#">Privacy Policy</a></label>
                                </div>
                                <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Create Account</button>
                                </div>
                        </form>
                        <div class="hint-text">Already have an account? <a href="/login/">Log in here</a></div>
                    </div>
                </div>
            </div>

        <footer id="colophon" class="site-footer" role="contentinfo">
                <div id="top-footer" class="footer-widgets-wrapper footer_column_three np-clearfix">
                    <div class="mt-container">
                        <div class="footer-widgets-area np-clearfix">
                            <div class="np-footer-widget-wrapper np-column-wrapper np-clearfix">
                                <div class="np-footer-widget wow fadeInLeft" data-wow-duration="0.5s">
                                    <section id="nav_menu-3" class="widget widget_nav_menu"><h4 class="widget-title">Categories</h4>
                                        <div class="menu-categories-container">
                                            <ul id="menu-categories" class="menu">
                                                <li id="menu-item-183" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-183">
                                                    <a href="/world/">World</a>
                                                </li>
                                                <li id="menu-item-184" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-184">
                                                    <a href="/sports/">Sports</a>
                                                </li>
                                                <li id="menu-item-185" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-183">
                                                    <a href="/ent//">Entertainment</a>
                                                </li>
                                                <li id="menu-item-185" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-184">
                                                    <a href="/tech/">Technology</a>
                                                </li>
                                                <li id="menu-item-187" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-183">
                                                    <a href="/busi//">Busuness</a>
                                                </li>
                                                <li id="menu-item-188" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-184">
                                                    <a href="/life/">Lifestyle</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                                <div class="np-footer-widget wow fadeInLeft" data-woww-duration="1s">
                                <section id="news_portal_recent_posts-3" class="widget news_portal_recent_posts">
                                    <div class="np-recent-posts-wrapper">
                                        <h4 class="widget-title">Latest News</h4>
                                        <ul>
                                            <li>
                                                <div class="np-single-post np-clearfix">
                                                    <div class="np-post-thumb">
                                                        <a href="#">
                                                        <img width="136px" height="102px" src="/assets/images/8.jpg" class="attachment-news-portal-block-thumb size-news-portal-block-thumb wp-post-image" alt="" />
                                                        </a>
                                                    </div><!-- .np-post-thumb -->
                                                    <div class="np-post-content">
                                                        <h3 class="np-post-title small-size"><a href="#">Art Exhibition Going To Start This Week</a></h3>
                                                        <div class="np-post-meta"><span class="posted-on"> <a href="#" rel="bookmark">
                                                            <time class="entry-date published" datetime="2017-07-24T07:16:07+00:00">July 24, 2017</time>
                                                            <time class="updated" datetime="2018-12-18T00:56:09+00:00">December 18, 2018</time></a></span>
                                                            <span class="byline">  <span class="author vcard"><a class="url fn n" href="#">DemoAdmin</a></span></span>
                                                        </div>
                                                    </div><!-- .np-post-content -->
                                                </div><!-- .np-single-post -->
                                            </li>
                                            <li>
                                                <div class="np-single-post np-clearfix">
                                                    <div class="np-post-thumb">
                                                        <a href="#">
                                                        <img width="136px" height="102px" src="/assets/images/9.jpg" class="attachment-news-portal-block-thumb size-news-portal-block-thumb wp-post-image" alt="" />
                                                        </a>
                                                    </div><!-- .np-post-thumb -->
                                                    <div class="np-post-content">
                                                        <h3 class="np-post-title small-size"><a href="#">Art Exhibition Going To Start This Week</a></h3>
                                                        <div class="np-post-meta"><span class="posted-on"> <a href="#" rel="bookmark">
                                                            <time class="entry-date published" datetime="2017-07-24T07:16:07+00:00">July 24, 2017</time>
                                                            <time class="updated" datetime="2018-12-18T00:56:09+00:00">December 18, 2018</time></a></span>
                                                            <span class="byline">  <span class="author vcard"><a class="url fn n" href="#">DemoAdmin</a></span></span>
                                                        </div>
                                                    </div><!-- .np-post-content -->
                                                </div><!-- .np-single-post -->
                                            </li>
                                        </ul>
                                    </div><!-- .np-recent-posts-wrapper -->
                                </section>
                                </div>
                                <div class="np-footer-widget wow fadeInLeft" data-wow-duration="1.5s">
                                <section id="meta-7" class="widget widget_meta"><h4 class="widget-title">Meta</h4>
                                    <ul>
                                        <li><a href="/login/">Log in</a></li>
                                        <li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                                        <li><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                                    </ul>
                                </section>
                                </div>
                            </div><!-- .np-footer-widget-wrapper -->
                        </div><!-- .footer-widgets-area -->
                    </div><!-- .mt-container -->
                </div><!-- .footer-widgets-wrapper -->
        </footer>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/navigation.js"></script>  
    <script src="/assets/js/customizer.js"></script>
    <script src="/assets/js/np-admin-scripts.js"></script>
    <script src="/assets/js/np-customizer-controls.js"></script>
    <script src="/assets/js/np-custom-scripts.js"></script>
    <script src="/assets/js/skip-link-focus-fix.js"></script> 
    <script src="/assets/library/lightslider/js/lightslider.js"></script>
    <script src="/assets/library/lightslider/js/lightslider.min.js"></script>
    <script src="/assets/library/sticky/jquery.sticky.js"></script>
    <script src="/assets/library/sticky/sticky-setting.js"></script>
    
</body>
</html>

